<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture and Heritage of Maharashtra</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        .text {
            flex: 1;
            text-align: justify;
        }

        .container {

            font-size: 19px;
        }
    </style>

</head>

<body>
    <header>
        <h1>Culture Compass</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/culture">Culture</a></li>
                <li><a href="/heritage">Heritage</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/review">Review </a></li>
            </ul>
        </nav>
    </header>

    <p></p>
    <div class="container">

        <div class="text">

            <h1><u>Welcome to</u> Maharashtra</h1>
            <p>Maharashtra, a vibrant state in western India, is known for its rich cultural diversity, bustling cities,
                and stunning landscapes. Home to Mumbai, the country's financial hub and entertainment capital,
                Maharashtra offers a blend of urban and rural experiences. The state is dotted with historical
                landmarks, including ancient forts, temples, and the UNESCO World Heritage Sites of Ajanta and Ellora
                caves. Additionally, Maharashtra's varied geography encompasses lush Western Ghats, serene beaches along
                the Konkan coast, and vibrant hill stations like Mahabaleshwar. Its festivals, cuisine, and art forms
                reflect a unique tapestry of traditions, making it a fascinating destination for travelers.</p>
            <button class="cta-button">Explore Maharashtra</button>

        </div>

        <div class="image-1">

            <img src="https://i.pinimg.com/736x/83/af/49/83af499c2f0ab621ddd4da73d5aaeeca.jpg"  height="600px">

        </div>
    </div>
    <p></p>

    <section id="home">
        <div class="background-image">
        </div>
        <!-- <img src="https://images.unsplash.com/photo-1663079156029-a170af256f67?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFoYXJhc2h0cmElMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D" alt="" height="450px" width="1200px"> -->
        <!-- <img src="Images/panorama-lush-green-monsoon-nature-260nw-1170423364.webp" height="350px" width="1200px"> -->

        <img src="https://www.mapsofindia.com/maps/maharashtra/maharashtra-map.jpg" alt="" width="750px">

        <img src="https://ewry7myftns.exactdn.com/wp-content/uploads/2024/05/new-MH-Web-Banner-Festival-List-01.jpg?strip=all&lossy=1&w=1920&ssl=1" alt="" width="1300px">

        <img src="Images/homegrown_import_book_vodwhnwjwf-1530789429.avif" alt="" width="1300px">

        <!-- <img src="https://ewry7myftns.exactdn.com/wp-content/uploads/2023/10/museum-palaces.jpg?strip=all&lossy=1&w=670&ssl=1" alt="" height="auto" width="1300px"> -->

        <div><img src="https://ewry7myftns.exactdn.com/wp-content/uploads/2023/10/Tadoba-Andhari-Tiger-Reserve.jpg?strip=all&lossy=1&ssl=1&fit=750,500" alt="Tadoba" width="650px">
            <img src="https://ewry7myftns.exactdn.com/wp-content/uploads/2023/10/Radhanagari_Sanctuary.jpg?strip=all&lossy=1&ssl=1" alt="" width="640px">
        </div>

        <img src="https://www.holidify.com/images/bgImages/MAHABALESHWAR.jpg" alt="" width="900px">

        <img src="https://assets-news.housing.com/news/wp-content/uploads/2022/07/11003529/Maharashtra2.jpg" alt="" width="590px">
        <img src="https://assets-news.housing.com/news/wp-content/uploads/2022/07/11003646/Maharashtra14.jpg" alt="" width="710px">

        <img src="https://ewry7myftns.exactdn.com/wp-content/uploads/2024/05/WASUDEV.png?strip=all&lossy=1&w=1920&ssl=1"
            alt="" width="1100px">
    </section>

    <footer>
        <p>© 2024 Culture Compass</p>
    </footer>

    <script>
        document.querySelectorAll('.nav-link').forEach(link => {
            link.addEventListener('click', () => {
                document.querySelector('nav').style.display = 'none';
            });
        });
    </script>
</body>

</html>