<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews - Cultural and Heritage of Maharashtra</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <header>
        <h1>Culture Compass</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/culture">Culture</a></li>
                <li><a href="/heritage">Heritage</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/review">Review </a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1><u>Give Your</u> Suggestion</h1>
    </section>
    <form id="reviewForm" action="/submit-review" method="POST">
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Your Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="review">Your Review:</label><br>
        <textarea id="review" name="review" rows="4" required></textarea><br><br>

        <input type="submit" value="Submit Review">
        
        
    </form>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci impedit alias reprehenderit ut officia, quod facilis modi dolorem architecto, corrupti, quas dolore doloremque corporis labore accusantium! Harum voluptas totam suscipit.</p>
    <footer>
        <p>© 2024 Culture Compass</p>
    </footer>

</body>
</html>
